# app
apps/*

# configs and secret configs
# .env
# .env.secret

# npm
node_modules
package-lock.json
yarn.lock

# tests
coverage

# compressed files
*.tgz

# Log files
npm-debug.log*

# apple stuff
.DS_Store

# Editor directories and files
.idea
.vscode
